openapi: 3.2.0
info:
  version: v1.0.0
  title: External APIs for Customer Integration Data Source Parameters API
  description: APIs to create and fetch Clean Room and related details from LiveRamp (previously Habu) for Customer Integration.
  contact:
    name: LiveRamp (previously Habu)
    url: https://liveramp.com/
    email: platform_admin@habu.com
servers:
- description: External APIs for Customer Integration
  url: https://api.habu.com/v1/
security:
- application: []
tags:
- name: Data Source Parameters
paths:
  /data-sources/{dataSourceId}/data-types/{dataTypeId}/data-source-parameters:
    get:
      summary: Fetch all Data Source Parameters
      operationId: getAllDataSourceParameters
      description: This operation fetches all the Data Source Parameters for the given data source and data type.
      parameters:
      - name: dataSourceId
        in: path
        description: Data Source ID
        required: true
        schema:
          type: string
      - name: dataTypeId
        in: path
        description: Data Type ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully fetched the Data Source Parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSourceParameters'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      tags:
      - Data Source Parameters
components:
  schemas:
    DataSourceParameters:
      type: array
      items:
        $ref: '#/components/schemas/DataSourceParameter'
    DataSourceParameter:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        displayName:
          type: string
        type:
          type: string
        index:
          type: integer
        dataSourceId:
          type: string
    ReturnObject:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
      - code
      - message
  responses:
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReturnObject'
        application/xml:
          schema:
            $ref: '#/components/schemas/ReturnObject'
    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReturnObject'
        application/xml:
          schema:
            $ref: '#/components/schemas/ReturnObject'
    Unauthorized:
      description: Authorization information was missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReturnObject'
        application/xml:
          schema:
            $ref: '#/components/schemas/ReturnObject'
    Forbidden:
      description: This action is not allowed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReturnObject'
        application/xml:
          schema:
            $ref: '#/components/schemas/ReturnObject'
    BadRequest:
      description: Bad Request - Incorrect syntax or request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReturnObject'
        application/xml:
          schema:
            $ref: '#/components/schemas/ReturnObject'
  securitySchemes:
    application:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.habu.com/v1/oauth/token
          scopes: {}
