openapi: 3.2.0
info:
  version: v1.0.0
  title: External APIs for Customer Integration Organization Users API
  description: APIs to create and fetch Clean Room and related details from LiveRamp (previously Habu) for Customer Integration.
  contact:
    name: LiveRamp (previously Habu)
    url: https://liveramp.com/
    email: platform_admin@habu.com
servers:
- description: External APIs for Customer Integration
  url: https://api.habu.com/v1/
security:
- application: []
tags:
- name: Organization Users
paths:
  /users:
    get:
      summary: Fetch a list of all Organization Users
      operationId: getAllOrganizationUsers
      description: This operation fetches a list of all the users created for this organization.
      parameters:
      - name: limit
        in: query
        description: The number of organization users returned per page - default is 500
        schema:
          type: integer
          default: 500
      - name: offset
        in: query
        description: The offset - default is 0
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Organization Users fetched successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationUsers'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      tags:
      - Organization Users
components:
  responses:
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReturnObject'
        application/xml:
          schema:
            $ref: '#/components/schemas/ReturnObject'
    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReturnObject'
        application/xml:
          schema:
            $ref: '#/components/schemas/ReturnObject'
    Unauthorized:
      description: Authorization information was missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReturnObject'
        application/xml:
          schema:
            $ref: '#/components/schemas/ReturnObject'
    Forbidden:
      description: This action is not allowed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReturnObject'
        application/xml:
          schema:
            $ref: '#/components/schemas/ReturnObject'
    BadRequest:
      description: Bad Request - Incorrect syntax or request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReturnObject'
        application/xml:
          schema:
            $ref: '#/components/schemas/ReturnObject'
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          description: User ID
        name:
          type: string
          description: Name of the user
        email:
          type: string
    OrganizationUser:
      type: object
      properties:
        roleName:
          type: string
          description: Name of the user role in the organization
        user:
          $ref: '#/components/schemas/User'
    OrganizationUsers:
      description: A list of Organization Users and their details
      type: array
      items:
        $ref: '#/components/schemas/OrganizationUser'
    ReturnObject:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
      - code
      - message
  securitySchemes:
    application:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.habu.com/v1/oauth/token
          scopes: {}
