openapi: 3.1.0
info:
  title: LiveRamp Activation Deliveries Integration Connections API
  description: Programmatic activation of first-party and marketplace data across destination partners and connected platforms in the LiveRamp network. Manages distribution managers, integration connections, segment configurations, destinations, and OAuth connections. Authenticated with OAuth 2.0 access tokens issued via the service account token URI.
  version: v2
  contact:
    name: LiveRamp Developer Portal
    url: https://developers.liveramp.com/activation-api
servers:
- url: https://api.liveramp.com/activation/v2
  description: LiveRamp Activation API (paths are v2/...)
security:
- bearerAuth: []
tags:
- name: Integration Connections
paths:
  /v2/integrationconnections:
    get:
      tags:
      - Integration Connections
      summary: List integration connections
      operationId: listIntegrationConnections
      responses:
        '200':
          description: Integration connections.
    post:
      tags:
      - Integration Connections
      summary: Create integration connection
      operationId: createIntegrationConnection
      responses:
        '201':
          description: Created.
  /v2/integrationconnections/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Integration Connections
      summary: Get integration connection
      operationId: getIntegrationConnection
      responses:
        '200':
          description: Integration connection.
    put:
      tags:
      - Integration Connections
      summary: Update integration connection
      operationId: updateIntegrationConnection
      responses:
        '200':
          description: Updated.
    delete:
      tags:
      - Integration Connections
      summary: Delete integration connection
      operationId: deleteIntegrationConnection
      responses:
        '204':
          description: Deleted.
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth 2.0 access token obtained from the LiveRamp service account token URI; passed as `Authorization: Bearer <token>`.'
