openapi: 3.1.0
info:
  title: LiveRamp Activation Deliveries Segment Configurations API
  description: Programmatic activation of first-party and marketplace data across destination partners and connected platforms in the LiveRamp network. Manages distribution managers, integration connections, segment configurations, destinations, and OAuth connections. Authenticated with OAuth 2.0 access tokens issued via the service account token URI.
  version: v2
  contact:
    name: LiveRamp Developer Portal
    url: https://developers.liveramp.com/activation-api
servers:
- url: https://api.liveramp.com/activation/v2
  description: LiveRamp Activation API (paths are v2/...)
security:
- bearerAuth: []
tags:
- name: Segment Configurations
paths:
  /v2/segmentconfigurations:
    get:
      tags:
      - Segment Configurations
      summary: List segment configurations
      operationId: listSegmentConfigurations
      responses:
        '200':
          description: Segment configurations.
    post:
      tags:
      - Segment Configurations
      summary: Add segment configuration
      operationId: addSegmentConfiguration
      responses:
        '201':
          description: Added.
  /v2/segmentconfigurations/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Segment Configurations
      summary: Get segment configuration
      operationId: getSegmentConfiguration
      responses:
        '200':
          description: Segment configuration.
    delete:
      tags:
      - Segment Configurations
      summary: Remove segment configuration
      operationId: removeSegmentConfiguration
      responses:
        '204':
          description: Removed.
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth 2.0 access token obtained from the LiveRamp service account token URI; passed as `Authorization: Bearer <token>`.'
