openapi: 3.2.0
info:
  version: v1.0.0
  title: External APIs for Customer Integration Credential Sources API
  description: APIs to create and fetch Clean Room and related details from LiveRamp (previously Habu) for Customer Integration.
  contact:
    name: LiveRamp (previously Habu)
    url: https://liveramp.com/
    email: platform_admin@habu.com
servers:
- description: External APIs for Customer Integration
  url: https://api.habu.com/v1/
security:
- application: []
tags:
- name: Credential Sources
paths:
  /credential-sources:
    get:
      summary: Fetch a list of all Credential Sources
      operationId: getAllCredentialSources
      description: This operation fetches a list of all the Credential Sources created for this Customer Integration.
      responses:
        '200':
          description: Credential Sources fetched successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialSources'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      tags:
      - Credential Sources
  /credential-sources/{credentialSourceId}:
    get:
      summary: Fetch a Credential Source by ID
      operationId: getCredentialSourceById
      description: This operation fetches a Credential Source by ID.
      parameters:
      - name: credentialSourceId
        in: path
        description: Credential Source ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully fetched the Credential Source.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialSource'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      tags:
      - Credential Sources
  /credential-sources/credential-name/{name}:
    get:
      summary: Fetch a Credential Source by Name
      operationId: getCredentialSourceByName
      description: This operation fetches a Credential Source by Name.
      parameters:
      - name: name
        in: path
        description: Credential Source Name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Credential Sources fetched successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialSources'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      tags:
      - Credential Sources
components:
  schemas:
    CredentialSource:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        provider:
          type: string
        credentialConfig:
          type: array
          items:
            $ref: '#/components/schemas/CredentialConfig'
    CredentialSources:
      type: array
      items:
        $ref: '#/components/schemas/CredentialSource'
    CredentialConfigListValue:
      type: object
      properties:
        id:
          type: string
        value:
          type: string
        displayName:
          type: string
        index:
          type: integer
    CredentialConfig:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        index:
          type: integer
        credentialConfigType:
          type: string
        credentialConfigListValues:
          type: array
          items:
            $ref: '#/components/schemas/CredentialConfigListValue'
    ReturnObject:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
      - code
      - message
  responses:
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReturnObject'
        application/xml:
          schema:
            $ref: '#/components/schemas/ReturnObject'
    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReturnObject'
        application/xml:
          schema:
            $ref: '#/components/schemas/ReturnObject'
    Unauthorized:
      description: Authorization information was missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReturnObject'
        application/xml:
          schema:
            $ref: '#/components/schemas/ReturnObject'
    Forbidden:
      description: This action is not allowed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReturnObject'
        application/xml:
          schema:
            $ref: '#/components/schemas/ReturnObject'
    BadRequest:
      description: Bad Request - Incorrect syntax or request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReturnObject'
        application/xml:
          schema:
            $ref: '#/components/schemas/ReturnObject'
  securitySchemes:
    application:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.habu.com/v1/oauth/token
          scopes: {}
