openapi: 3.1.0
info:
  title: LiveRamp Activation Deliveries Destination Integrations API
  description: Programmatic activation of first-party and marketplace data across destination partners and connected platforms in the LiveRamp network. Manages distribution managers, integration connections, segment configurations, destinations, and OAuth connections. Authenticated with OAuth 2.0 access tokens issued via the service account token URI.
  version: v2
  contact:
    name: LiveRamp Developer Portal
    url: https://developers.liveramp.com/activation-api
servers:
- url: https://api.liveramp.com/activation/v2
  description: LiveRamp Activation API (paths are v2/...)
security:
- bearerAuth: []
tags:
- name: Destination Integrations
paths:
  /v2/destinationintegrations:
    get:
      tags:
      - Destination Integrations
      summary: List destination integrations
      operationId: listDestinationIntegrations
      responses:
        '200':
          description: Destination integrations.
  /v2/destinationintegrations/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Destination Integrations
      summary: Get destination integration
      operationId: getDestinationIntegration
      responses:
        '200':
          description: Destination integration.
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth 2.0 access token obtained from the LiveRamp service account token URI; passed as `Authorization: Bearer <token>`.'
