openapi: 3.1.0
info:
  title: LiveRamp Activation Deliveries OAuth Connections API
  description: Programmatic activation of first-party and marketplace data across destination partners and connected platforms in the LiveRamp network. Manages distribution managers, integration connections, segment configurations, destinations, and OAuth connections. Authenticated with OAuth 2.0 access tokens issued via the service account token URI.
  version: v2
  contact:
    name: LiveRamp Developer Portal
    url: https://developers.liveramp.com/activation-api
servers:
- url: https://api.liveramp.com/activation/v2
  description: LiveRamp Activation API (paths are v2/...)
security:
- bearerAuth: []
tags:
- name: OAuth Connections
paths:
  /v2/oauthconnectionattempt:
    post:
      tags:
      - OAuth Connections
      summary: Begin OAuth connection attempt
      operationId: createOauthConnectionAttempt
      responses:
        '201':
          description: Attempt created.
  /v2/oauthconnections:
    get:
      tags:
      - OAuth Connections
      summary: List OAuth connections
      operationId: listOauthConnections
      responses:
        '200':
          description: OAuth connections.
  /v2/oauthconnections/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - OAuth Connections
      summary: Get OAuth connection
      operationId: getOauthConnection
      responses:
        '200':
          description: OAuth connection.
  /v2/oauthconnections/{id}/status:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - OAuth Connections
      summary: Get OAuth connection status
      operationId: getOauthConnectionStatus
      responses:
        '200':
          description: Status.
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth 2.0 access token obtained from the LiveRamp service account token URI; passed as `Authorization: Bearer <token>`.'
