# generated by Reslang v6.2.5
openapi: 3.0.1
info:
  title: Activation API
  description: An API for destination management and segment delivery
  version: 2.9.0
servers:
  - description: Production API server
    url: 'https://api.liveramp.com/activation'
tags:
  - name: Explore Destinations
    description: View Destinations and Integrations where you can distribute data
  - name: Configure Distributions
    description: ''
  - name: Distribute Data
    description: ''
  - name: View Deliveries
    description: ''
  - name: OAuth Configuration
    description: ''
  - name: View Segments
    description: ''
  - name: v2/SegmentStatus
    description: (resource)  Represents a segment's status
paths:
  /v2/deliveries:
    get:
      tags:
        - View Deliveries
      operationId: Get v2/Deliveries
      description: ''
      summary: Fetch a list of Deliveries
      responses:
        '200':
          description: v2/Deliveries retrieved successfully
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2DeliveryMultiResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      parameters:
        - in: query
          name: limit
          description: Number of v2/Deliveries to return
          schema:
            type: integer
            format: int32
            default: 10
            minimum: 1
            maximum: 100
        - in: query
          name: after
          description: >-
            This value is a cursor that enables continued paginated queries. Its
            value can be found under "_pagination.after" in the previous
            response from this endpoint.
          schema:
            type: string
        - in: query
          name: integrationConnectionID
          required: false
          schema:
            type: string
            description: Link to v2/IntegrationConnection resource via its id
        - in: query
          name: segmentIDs
          required: false
          schema:
            items:
              type: string
            type: array
        - description: >-
            Bearer Authorization using the access token generated with your
            service account
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: >-
            LiveRamp Org ID to make requests as. Starting Jan 2022, this is
            recommended over the Liveramp Customer ID header
          in: header
          name: LR-Org-ID
          required: true
          schema:
            type: string
  /v2/destinations:
    get:
      tags:
        - Explore Destinations
      operationId: Get v2/Destinations
      description: ''
      summary: Fetch a list of Destinations
      responses:
        '200':
          description: v2/Destinations retrieved successfully
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2DestinationMultiResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      parameters:
        - in: query
          name: limit
          description: Number of v2/Destinations to return
          schema:
            type: integer
            format: int32
            default: 10
            minimum: 1
            maximum: 100
        - in: query
          name: after
          description: >-
            This value is a cursor that enables continued paginated queries. Its
            value can be found under "_pagination.after" in the previous
            response from this endpoint.
          schema:
            type: string
        - description: >-
            Bearer Authorization using the access token generated with your
            service account
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: >-
            LiveRamp Org ID to make requests as. Starting Jan 2022, this is
            recommended over the Liveramp Customer ID header
          in: header
          name: LR-Org-ID
          required: true
          schema:
            type: string
  '/v2/destinations/{id}':
    get:
      tags:
        - Explore Destinations
      operationId: Get v2/Destination
      description: ''
      summary: Fetch a single Destination
      responses:
        '200':
          description: v2/Destination retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2DestinationOutput'
        '404':
          description: v2/Destination not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - description: >-
            Bearer Authorization using the access token generated with your
            service account
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: >-
            LiveRamp Org ID to make requests as. Starting Jan 2022, this is
            recommended over the Liveramp Customer ID header
          in: header
          name: LR-Org-ID
          required: true
          schema:
            type: string
  '/v2/destinations/{v2DestinationId}/integrations':
    get:
      tags:
        - Explore Destinations
      operationId: 'Get v2/Destination::Integrations'
      description: ''
      summary: Fetch a list of Integrations within a Destination
      responses:
        '200':
          description: Integrations retrieved successfully
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2DestinationIntegrationMultiResponse'
        '404':
          description: Parent resource(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      parameters:
        - in: path
          name: v2DestinationId
          description: Id of parent v2/Destination
          required: true
          schema:
            type: string
        - in: query
          name: limit
          description: Number of Integrations to return
          schema:
            type: integer
            format: int32
            default: 10
            minimum: 1
            maximum: 100
        - in: query
          name: after
          description: >-
            This value is a cursor that enables continued paginated queries. Its
            value can be found under "_pagination.after" in the previous
            response from this endpoint.
          schema:
            type: string
        - in: query
          name: type
          required: false
          schema:
            allOf:
              - $ref: '#/components/schemas/IntegrationType'
            type: string
        - in: query
          name: view
          required: false
          schema:
            allOf:
              - $ref: '#/components/schemas/IntegrationView'
            type: string
        - description: >-
            Bearer Authorization using the access token generated with your
            service account
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: >-
            LiveRamp Org ID to make requests as. Starting Jan 2022, this is
            recommended over the Liveramp Customer ID header
          in: header
          name: LR-Org-ID
          required: true
          schema:
            type: string
  '/v2/destinations/{v2DestinationId}/integrations/{id}':
    get:
      tags:
        - Explore Destinations
      operationId: 'Get v2/Destination::Integration'
      description: ''
      summary: Fetch a single Integration
      responses:
        '200':
          description: Integration retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2DestinationIntegrationOutput'
        '404':
          description: Integration or parent resource(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      parameters:
        - in: path
          name: v2DestinationId
          description: Id of parent v2/Destination
          required: true
          schema:
            type: string
        - in: path
          name: id
          required: true
          schema:
            type: string
        - description: >-
            Bearer Authorization using the access token generated with your
            service account
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: >-
            LiveRamp Org ID to make requests as. Starting Jan 2022, this is
            recommended over the Liveramp Customer ID header
          in: header
          name: LR-Org-ID
          required: true
          schema:
            type: string
  /v2/distribution-managers:
    post:
      tags:
        - Configure Distributions
      operationId: Create v2/DistributionManager
      description: ''
      summary: Create a Distribution Manager
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2DistributionManagerInput'
      responses:
        '201':
          description: v2/DistributionManager created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      parameters:
        - description: >-
            Bearer Authorization using the access token generated with your
            service account
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: >-
            LiveRamp Org ID to make requests as. Starting Jan 2022, this is
            recommended over the Liveramp Customer ID header
          in: header
          name: LR-Org-ID
          required: true
          schema:
            type: string
    get:
      tags:
        - Configure Distributions
      operationId: Get v2/DistributionManagers
      description: ''
      summary: Fetch a list of Distribution Managers
      responses:
        '200':
          description: v2/DistributionManagers retrieved successfully
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2DistributionManagerMultiResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      parameters:
        - in: query
          name: limit
          description: Number of v2/DistributionManagers to return
          schema:
            type: integer
            format: int32
            default: 10
            minimum: 1
            maximum: 100
        - in: query
          name: after
          description: >-
            This value is a cursor that enables continued paginated queries. Its
            value can be found under "_pagination.after" in the previous
            response from this endpoint.
          schema:
            type: string
        - in: query
          name: integrationConnectionID
          required: false
          schema:
            type: string
            description: Link to v2/IntegrationConnection resource via its id
        - description: >-
            Bearer Authorization using the access token generated with your
            service account
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: >-
            LiveRamp Org ID to make requests as. Starting Jan 2022, this is
            recommended over the Liveramp Customer ID header
          in: header
          name: LR-Org-ID
          required: true
          schema:
            type: string
  '/v2/distribution-managers/{id}':
    get:
      tags:
        - Configure Distributions
      operationId: Get v2/DistributionManager
      description: ''
      summary: Fetch a single Distribution Manager
      responses:
        '200':
          description: v2/DistributionManager retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2DistributionManagerOutput'
        '404':
          description: v2/DistributionManager not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - description: >-
            Bearer Authorization using the access token generated with your
            service account
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: >-
            LiveRamp Org ID to make requests as. Starting Jan 2022, this is
            recommended over the Liveramp Customer ID header
          in: header
          name: LR-Org-ID
          required: true
          schema:
            type: string
    put:
      tags:
        - Configure Distributions
      operationId: Modify v2/DistributionManager
      description: ''
      summary: Update a Distribution Manager
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2DistributionManagerPuttable'
      responses:
        '200':
          description: v2/DistributionManager modified successfully
        '404':
          description: v2/DistributionManager not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - description: >-
            Bearer Authorization using the access token generated with your
            service account
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: >-
            LiveRamp Org ID to make requests as. Starting Jan 2022, this is
            recommended over the Liveramp Customer ID header
          in: header
          name: LR-Org-ID
          required: true
          schema:
            type: string
    delete:
      tags:
        - Configure Distributions
      operationId: Delete v2/DistributionManager
      description: ''
      summary: Delete a Distribution Manager
      responses:
        '200':
          description: v2/DistributionManager deleted successfully
        '404':
          description: v2/DistributionManager not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - description: >-
            Bearer Authorization using the access token generated with your
            service account
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: >-
            LiveRamp Org ID to make requests as. Starting Jan 2022, this is
            recommended over the Liveramp Customer ID header
          in: header
          name: LR-Org-ID
          required: true
          schema:
            type: string
  '/v2/distribution-managers/{v2DistributionManagerId}/segment-configs':
    post:
      tags:
        - Distribute Data
      operationId: 'Create v2/DistributionManager::SegmentConfigs'
      description: ''
      summary: >-
        Add Segments to a Distribution Manager. Limited to 500 segments at a
        time.
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/v2DistributionManagerSegmentConfigInput'
      responses:
        '207':
          description: 'SegmentConfig resources processed, statuses in body'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    status:
                      $ref: '#/components/schemas/StandardError'
        '404':
          description: Parent resource(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      parameters:
        - in: path
          name: v2DistributionManagerId
          description: Id of parent v2/DistributionManager
          required: true
          schema:
            type: string
        - description: >-
            Bearer Authorization using the access token generated with your
            service account
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: >-
            LiveRamp Org ID to make requests as. Starting Jan 2022, this is
            recommended over the Liveramp Customer ID header
          in: header
          name: LR-Org-ID
          required: true
          schema:
            type: string
    delete:
      tags:
        - Distribute Data
      operationId: 'Delete v2/DistributionManager::SegmentConfigs'
      description: ''
      summary: >-
        Remove Segments from a Distribution Manager. Limited to 500 segments at
        a time.
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
      responses:
        '207':
          description: 'SegmentConfig deletes processed, statuses in body'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    status:
                      $ref: '#/components/schemas/StandardError'
        '404':
          description: Parent resource(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      parameters:
        - in: path
          name: v2DistributionManagerId
          description: Id of parent v2/DistributionManager
          required: true
          schema:
            type: string
        - description: >-
            Bearer Authorization using the access token generated with your
            service account
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: >-
            LiveRamp Org ID to make requests as. Starting Jan 2022, this is
            recommended over the Liveramp Customer ID header
          in: header
          name: LR-Org-ID
          required: true
          schema:
            type: string
    get:
      tags:
        - Distribute Data
      operationId: 'Get v2/DistributionManager::SegmentConfigs'
      description: ''
      summary: Fetch a list of Segments within a Distribution Manager
      responses:
        '200':
          description: SegmentConfigs retrieved successfully
          headers: {}
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/v2DistributionManagerSegmentConfigMultiResponse
        '404':
          description: Parent resource(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      parameters:
        - in: path
          name: v2DistributionManagerId
          description: Id of parent v2/DistributionManager
          required: true
          schema:
            type: string
        - in: query
          name: limit
          description: Number of SegmentConfigs to return
          schema:
            type: integer
            format: int32
            default: 10
            minimum: 1
            maximum: 100
        - in: query
          name: after
          description: >-
            This value is a cursor that enables continued paginated queries. Its
            value can be found under "_pagination.after" in the previous
            response from this endpoint.
          schema:
            type: string
        - description: >-
            Bearer Authorization using the access token generated with your
            service account
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: >-
            LiveRamp Org ID to make requests as. Starting Jan 2022, this is
            recommended over the Liveramp Customer ID header
          in: header
          name: LR-Org-ID
          required: true
          schema:
            type: string
  '/v2/distribution-managers/{v2DistributionManagerId}/segment-configs/{id}':
    get:
      tags:
        - Distribute Data
      operationId: 'Get v2/DistributionManager::SegmentConfig'
      description: ''
      summary: Fetch a single Segment within a Distribution Manager
      responses:
        '200':
          description: SegmentConfig retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2DistributionManagerSegmentConfigOutput'
        '404':
          description: SegmentConfig or parent resource(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      parameters:
        - in: path
          name: v2DistributionManagerId
          description: Id of parent v2/DistributionManager
          required: true
          schema:
            type: string
        - description: >-
            Bearer Authorization using the access token generated with your
            service account
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: >-
            LiveRamp Org ID to make requests as. Starting Jan 2022, this is
            recommended over the Liveramp Customer ID header
          in: header
          name: LR-Org-ID
          required: true
          schema:
            type: string
        - in: path
          name: id
          required: true
          schema:
            type: string
  /v2/integration-connections:
    post:
      tags:
        - Configure Distributions
      operationId: Create v2/IntegrationConnection
      description: ''
      summary: Create an Integration Connection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2IntegrationConnectionInput'
      responses:
        '201':
          description: v2/IntegrationConnection created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      parameters:
        - description: >-
            Bearer Authorization using the access token generated with your
            service account
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: >-
            LiveRamp Org ID to make requests as. Starting Jan 2022, this is
            recommended over the Liveramp Customer ID header
          in: header
          name: LR-Org-ID
          required: true
          schema:
            type: string
    get:
      tags:
        - Configure Distributions
      operationId: Get v2/IntegrationConnections
      description: ''
      summary: Fetch a list of Integration Connections
      responses:
        '200':
          description: v2/IntegrationConnections retrieved successfully
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2IntegrationConnectionMultiResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      parameters:
        - in: query
          name: limit
          description: Number of v2/IntegrationConnections to return
          schema:
            type: integer
            format: int32
            default: 10
            minimum: 1
            maximum: 100
        - in: query
          name: after
          description: >-
            This value is a cursor that enables continued paginated queries. Its
            value can be found under "_pagination.after" in the previous
            response from this endpoint.
          schema:
            type: string
        - description: >-
            Bearer Authorization using the access token generated with your
            service account
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: >-
            LiveRamp Org ID to make requests as. Starting Jan 2022, this is
            recommended over the Liveramp Customer ID header
          in: header
          name: LR-Org-ID
          required: true
          schema:
            type: string
  '/v2/integration-connections/{id}':
    get:
      tags:
        - Configure Distributions
      operationId: Get v2/IntegrationConnection
      description: ''
      summary: Fetch a single Integration Connection
      responses:
        '200':
          description: v2/IntegrationConnection retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2IntegrationConnectionOutput'
        '404':
          description: v2/IntegrationConnection not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - description: >-
            Bearer Authorization using the access token generated with your
            service account
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: >-
            LiveRamp Org ID to make requests as. Starting Jan 2022, this is
            recommended over the Liveramp Customer ID header
          in: header
          name: LR-Org-ID
          required: true
          schema:
            type: string
    put:
      tags:
        - Configure Distributions
      operationId: Modify v2/IntegrationConnection
      description: ''
      summary: Update an Integration Connection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2IntegrationConnectionPuttable'
      responses:
        '200':
          description: v2/IntegrationConnection modified successfully
        '404':
          description: v2/IntegrationConnection not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - description: >-
            Bearer Authorization using the access token generated with your
            service account
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: >-
            LiveRamp Org ID to make requests as. Starting Jan 2022, this is
            recommended over the Liveramp Customer ID header
          in: header
          name: LR-Org-ID
          required: true
          schema:
            type: string
    delete:
      tags:
        - Configure Distributions
      operationId: Delete v2/IntegrationConnection
      description: ''
      summary: Delete an Integration Connection
      responses:
        '200':
          description: v2/IntegrationConnection deleted successfully
        '404':
          description: v2/IntegrationConnection not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - description: >-
            Bearer Authorization using the access token generated with your
            service account
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: >-
            LiveRamp Org ID to make requests as. Starting Jan 2022, this is
            recommended over the Liveramp Customer ID header
          in: header
          name: LR-Org-ID
          required: true
          schema:
            type: string
  /v2/oauth-connections:
    get:
      tags:
        - OAuth Configuration
      operationId: Get v2/OauthConnections
      description: ''
      summary: Fetch a list of OAuth Connections
      responses:
        '200':
          description: v2/OauthConnections retrieved successfully
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2OauthConnectionMultiResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      parameters:
        - in: query
          name: limit
          description: Number of v2/OauthConnections to return
          schema:
            type: integer
            format: int32
            default: 10
            minimum: 1
            maximum: 100
        - in: query
          name: after
          description: >-
            This value is a cursor that enables continued paginated queries. Its
            value can be found under "_pagination.after" in the previous
            response from this endpoint.
          schema:
            type: string
        - in: query
          name: oAuthEndpointID
          required: false
          schema:
            type: string
        - description: >-
            Bearer Authorization using the access token generated with your
            service account
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: >-
            LiveRamp Org ID to make requests as. Starting Jan 2022, this is
            recommended over the Liveramp Customer ID header
          in: header
          name: LR-Org-ID
          required: true
          schema:
            type: string
  '/v2/oauth-connections/{id}':
    get:
      tags:
        - OAuth Configuration
      operationId: Get v2/OauthConnection
      description: ''
      summary: Fetch a single OAuth Connection
      responses:
        '200':
          description: v2/OauthConnection retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2OauthConnectionOutput'
        '404':
          description: v2/OauthConnection not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - description: >-
            Bearer Authorization using the access token generated with your
            service account
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: >-
            LiveRamp Org ID to make requests as. Starting Jan 2022, this is
            recommended over the Liveramp Customer ID header
          in: header
          name: LR-Org-ID
          required: true
          schema:
            type: string
  /v2/oauth-connection-attempts:
    post:
      tags:
        - OAuth Configuration
      operationId: Create v2/OauthConnectionAttempt
      description: ''
      summary: Begin an OAuth authorization flow
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2OauthConnectionAttemptInput'
      responses:
        '201':
          description: v2/OauthConnectionAttempt created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    example: 123e4567-e89b-12d3-a456-426655440000
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      parameters:
        - description: >-
            Bearer Authorization using the access token generated with your
            service account
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: >-
            LiveRamp Org ID to make requests as. Starting Jan 2022, this is
            recommended over the Liveramp Customer ID header
          in: header
          name: LR-Org-ID
          required: true
          schema:
            type: string
  '/v2/oauth-connection-attempts/{id}':
    get:
      tags:
        - OAuth Configuration
      operationId: Get v2/OauthConnectionAttempt
      description: ''
      summary: Fetch the status of an OAuth flow
      responses:
        '200':
          description: v2/OauthConnectionAttempt retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2OauthConnectionAttemptOutput'
        '404':
          description: v2/OauthConnectionAttempt not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
            example: 123e4567-e89b-12d3-a456-426655440000
        - description: >-
            Bearer Authorization using the access token generated with your
            service account
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: >-
            LiveRamp Org ID to make requests as. Starting Jan 2022, this is
            recommended over the Liveramp Customer ID header
          in: header
          name: LR-Org-ID
          required: true
          schema:
            type: string
  /v2/segments:
    get:
      tags:
        - View Segments
      operationId: Get v2/Segments
      description: ''
      summary: Fetch a list of Segments
      responses:
        '200':
          description: v2/Segments retrieved successfully
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2SegmentMultiResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      parameters:
        - in: query
          name: limit
          description: Number of v2/Segments to return
          schema:
            type: integer
            format: int32
            default: 10
            minimum: 1
            maximum: 100
        - in: query
          name: after
          description: >-
            This value is a cursor that enables continued paginated queries. Its
            value can be found under "_pagination.after" in the previous
            response from this endpoint.
          schema:
            type: string
        - in: query
          name: valueName
          description: >-
            Search by a field name+value pair. If valueName is set, fieldName
            must also be set
          required: false
          schema:
            type: string
        - in: query
          name: fieldName
          description: >-
            Search by a field name+value pair. If fieldName is set, valueName
            must also be set
          required: false
          schema:
            type: string
        - description: >-
            Bearer Authorization using the access token generated with your
            service account
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: >-
            LiveRamp Org ID to make requests as. Starting Jan 2022, this is
            recommended over the Liveramp Customer ID header
          in: header
          name: LR-Org-ID
          required: true
          schema:
            type: string
  '/v2/segments/{id}':
    get:
      tags:
        - View Segments
      operationId: Get v2/Segment
      description: ''
      summary: Fetch a single Segment
      responses:
        '200':
          description: v2/Segment retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2SegmentOutput'
        '404':
          description: v2/Segment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - description: >-
            Bearer Authorization using the access token generated with your
            service account
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: >-
            LiveRamp Org ID to make requests as. Starting Jan 2022, this is
            recommended over the Liveramp Customer ID header
          in: header
          name: LR-Org-ID
          required: true
          schema:
            type: string
  /v2/segment-statuses:
    get:
      tags:
        - v2/SegmentStatus
      operationId: Get v2/SegmentStatuses
      description: >
        Limited to either first-party (onboarding) or data marketplace segments.
        Exactly one of these segmentID params must be passed in
      summary: Fetch a list of Segments' statuses.
      responses:
        '200':
          description: v2/SegmentStatuses retrieved successfully
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2SegmentStatusMultiResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      parameters:
        - in: query
          name: limit
          description: Number of v2/SegmentStatuses to return
          schema:
            type: integer
            format: int32
            default: 10
            minimum: 1
            maximum: 100
        - in: query
          name: after
          description: >-
            This value is a cursor that enables continued paginated queries. Its
            value can be found under "_pagination.after" in the previous
            response from this endpoint.
          schema:
            type: string
        - in: query
          name: segmentType
          required: false
          schema:
            allOf:
              - $ref: '#/components/schemas/SegmentType'
            type: string
        - in: query
          name: segmentIDs
          required: false
          schema:
            items:
              type: string
            type: array
        - description: >-
            Bearer Authorization using the access token generated with your
            service account
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: >-
            LiveRamp Org ID to make requests as. Starting Jan 2022, this is
            recommended over the Liveramp Customer ID header
          in: header
          name: LR-Org-ID
          required: true
          schema:
            type: string
components:
  parameters: {}
  schemas:
    v2DeliveryOutput:
      type: object
      properties:
        id:
          type: string
        status:
          allOf:
            - $ref: '#/components/schemas/DeliveryStatus'
          type: string
        deviceType:
          allOf:
            - $ref: '#/components/schemas/DeviceType'
          type: string
        recordCount:
          type: integer
          format: int32
        updatedAt:
          type: string
          format: ISO8601 UTC date-time
          example: '2019-04-13T03:35:34Z'
        segmentID:
          type: string
        integrationConnectionID:
          type: string
          description: Link to v2/IntegrationConnection resource via its id
        operationType:
          allOf:
            - $ref: '#/components/schemas/OperationType'
          type: string
      required:
        - id
        - status
        - deviceType
        - updatedAt
        - integrationConnectionID
        - operationType
      description: Delivery information about a Segment to a IntegrationConnection
    v2DeliveryMultiResponse:
      type: object
      properties:
        v2/Deliveries:
          description: Array of retrieved v2/Deliveries
          type: array
          items:
            $ref: '#/components/schemas/v2DeliveryOutput'
        _pagination:
          $ref: '#/components/schemas/v2DeliveryMultiResponsePagination'
    DeliveryStatus:
      type: string
      enum:
        - FAILED
        - CANCELLED
        - PENDING
        - IN_PROGRESS
        - DELIVERED
    OperationType:
      type: string
      enum:
        - ADD
        - DELETE
    v2DestinationOutput:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        logoUrl:
          type: string
          format: url
          example: 'https://www.domain.com (url)'
      required:
        - id
        - name
        - logoUrl
      description: A LiveRamp partner that can receive data from LiveRamp
    v2DestinationMultiResponse:
      type: object
      properties:
        v2/Destinations:
          description: Array of retrieved v2/Destinations
          type: array
          items:
            $ref: '#/components/schemas/v2DestinationOutput'
        _pagination:
          $ref: '#/components/schemas/v2DestinationMultiResponsePagination'
    v2DestinationIntegrationOutput:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        type:
          allOf:
            - $ref: '#/components/schemas/IntegrationType'
          type: string
        deviceTypes:
          items:
            allOf:
              - $ref: '#/components/schemas/DeviceType'
            type: string
          type: array
        requiredProperties:
          items:
            allOf:
              - $ref: '#/components/schemas/IntegrationProperty'
            type: object
          type: array
        oAuthEndpointID:
          description: >-
            Used when creating an OAuthConnectionAttempt. Only returned if the
            Integration requires OAuth
          type: string
        unavailableReason:
          type: string
      required:
        - id
        - name
        - description
        - type
        - deviceTypes
        - requiredProperties
      description: An outline of the required configuration to send data to a destination
    v2DestinationIntegrationMultiResponse:
      type: object
      properties:
        integrations:
          description: 'Array of retrieved v2/Destination::Integrations'
          type: array
          items:
            $ref: '#/components/schemas/v2DestinationIntegrationOutput'
        _pagination:
          $ref: '#/components/schemas/v2DestinationIntegrationMultiResponsePagination'
    IntegrationView:
      type: string
      enum:
        - STANDARD
        - STANDARD_WITH_UNAVAILABLE
    IntegrationProperty:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
      required:
        - name
        - description
    DeviceType:
      type: string
      enum:
        - PII
        - WEB
        - IOS
        - ANDROID
        - CUSTOM_ID
        - MIXED
        - OTHER
        - RAMP_ID
    IntegrationType:
      type: string
      enum:
        - ONBOARDING
        - FULFILLMENT
        - DATA_STORE
    v2DistributionManagerInput:
      type: object
      properties:
        name:
          type: string
          maxLength: 50
        integrationConnectionID:
          type: string
          description: Link to v2/IntegrationConnection resource via its id
        status:
          allOf:
            - $ref: '#/components/schemas/Status'
          type: string
        expireAt:
          description: >-
            The date at which all deliveries will be stopped and the status will
            be set to inactive
          type: string
          format: ISO8601 UTC date
          example: '2019-04-13'
          nullable: true
      required:
        - name
        - integrationConnectionID
      description: >-
        A link between an IntegrationConnection and segments with configuration
        for how data is distributed
    v2DistributionManagerOutput:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          maxLength: 50
        integrationConnectionID:
          type: string
          description: Link to v2/IntegrationConnection resource via its id
        status:
          allOf:
            - $ref: '#/components/schemas/Status'
          type: string
        expireAt:
          description: >-
            The date at which all deliveries will be stopped and the status will
            be set to inactive
          type: string
          format: ISO8601 UTC date
          example: '2019-04-13'
          nullable: true
        createdAt:
          type: string
          format: ISO8601 UTC date-time
          example: '2019-04-13T03:35:34Z'
        updatedAt:
          type: string
          format: ISO8601 UTC date-time
          example: '2019-04-13T03:35:34Z'
      required:
        - id
        - name
        - integrationConnectionID
        - status
        - expireAt
        - createdAt
        - updatedAt
      description: >-
        A link between an IntegrationConnection and segments with configuration
        for how data is distributed
    v2DistributionManagerPuttable:
      type: object
      properties:
        name:
          type: string
          maxLength: 50
        status:
          allOf:
            - $ref: '#/components/schemas/Status'
          type: string
        expireAt:
          description: >-
            The date at which all deliveries will be stopped and the status will
            be set to inactive
          type: string
          format: ISO8601 UTC date
          example: '2019-04-13'
          nullable: true
      required:
        - name
        - status
        - expireAt
      description: >-
        A link between an IntegrationConnection and segments with configuration
        for how data is distributed
    v2DistributionManagerMultiResponse:
      type: object
      properties:
        v2/DistributionManagers:
          description: Array of retrieved v2/DistributionManagers
          type: array
          items:
            $ref: '#/components/schemas/v2DistributionManagerOutput'
        _pagination:
          $ref: '#/components/schemas/v2DistributionManagerMultiResponsePagination'
    v2DistributionManagerSegmentConfigInput:
      type: object
      properties:
        segmentID:
          type: string
        segmentType:
          allOf:
            - $ref: '#/components/schemas/SegmentType'
          type: string
        destinationSegmentID:
          type: string
        distributionManagerID:
          type: string
          description: Link to v2/DistributionManager resource via its id
      required:
        - segmentID
        - segmentType
        - distributionManagerID
      description: A list of segment IDs to distribute
    v2DistributionManagerSegmentConfigOutput:
      type: object
      properties:
        id:
          type: string
        segmentID:
          type: string
        segmentType:
          allOf:
            - $ref: '#/components/schemas/SegmentType'
          type: string
        destinationSegmentID:
          type: string
        distributionManagerID:
          type: string
          description: Link to v2/DistributionManager resource via its id
      required:
        - id
        - segmentID
        - segmentType
        - distributionManagerID
      description: A list of segment IDs to distribute
    v2DistributionManagerSegmentConfigMultiResponse:
      type: object
      properties:
        segmentConfigs:
          description: 'Array of retrieved v2/DistributionManager::SegmentConfigs'
          type: array
          items:
            $ref: '#/components/schemas/v2DistributionManagerSegmentConfigOutput'
        _pagination:
          $ref: >-
            #/components/schemas/v2DistributionManagerSegmentConfigMultiResponsePagination
    SegmentType:
      type: string
      enum:
        - ONBOARDING
        - DATA_MARKETPLACE
    Status:
      type: string
      enum:
        - ACTIVE
        - INACTIVE
    v2IntegrationConnectionInput:
      type: object
      properties:
        integrationID:
          items:
            type: string
          minItems: 2
          maxItems: 2
          type: array
          description: >-
            Link to v2/Destination::Integration resource via [v2/DestinationId,
            integrationId]
        oAuthConnectionID:
          description: Required when the Integration has an oAuthEndpointID
          type: string
        properties:
          description: >-
            A value must be specified for each of the requireProperties from
            Integration
          items:
            allOf:
              - $ref: '#/components/schemas/IntegrationConnectionProperty'
            type: object
          type: array
        deviceTypes:
          items:
            allOf:
              - $ref: '#/components/schemas/DeviceType'
            type: string
          type: array
        distributionManagerName:
          description: >-
            If provided, the Integration Connection create call will also create
            a Distribution Manager with this name. Useful in workflows where you
            want to create an Integration Connection and Distribuiton Manager
            with one API call
          type: string
      required:
        - integrationID
        - properties
        - deviceTypes
      description: A connection to an Integration
    v2IntegrationConnectionOutput:
      type: object
      properties:
        id:
          type: string
        integrationID:
          items:
            type: string
          minItems: 2
          maxItems: 2
          type: array
          description: >-
            Link to v2/Destination::Integration resource via [v2/DestinationId,
            integrationId]
        oAuthConnectionID:
          description: Required when the Integration has an oAuthEndpointID
          type: string
        properties:
          description: >-
            A value must be specified for each of the requireProperties from
            Integration
          items:
            allOf:
              - $ref: '#/components/schemas/IntegrationConnectionProperty'
            type: object
          type: array
        deviceTypes:
          items:
            allOf:
              - $ref: '#/components/schemas/DeviceType'
            type: string
          type: array
        createdAt:
          type: string
          format: ISO8601 UTC date-time
          example: '2019-04-13T03:35:34Z'
        updatedAt:
          type: string
          format: ISO8601 UTC date-time
          example: '2019-04-13T03:35:34Z'
      required:
        - id
        - integrationID
        - properties
        - deviceTypes
        - createdAt
        - updatedAt
      description: A connection to an Integration
    v2IntegrationConnectionPuttable:
      type: object
      properties:
        oAuthConnectionID:
          description: Required when the Integration has an oAuthEndpointID
          type: string
        properties:
          description: >-
            A value must be specified for each of the requireProperties from
            Integration
          items:
            allOf:
              - $ref: '#/components/schemas/IntegrationConnectionProperty'
            type: object
          type: array
        deviceTypes:
          items:
            allOf:
              - $ref: '#/components/schemas/DeviceType'
            type: string
          type: array
      required:
        - properties
        - deviceTypes
      description: A connection to an Integration
    v2IntegrationConnectionMultiResponse:
      type: object
      properties:
        v2/IntegrationConnections:
          description: Array of retrieved v2/IntegrationConnections
          type: array
          items:
            $ref: '#/components/schemas/v2IntegrationConnectionOutput'
        _pagination:
          $ref: '#/components/schemas/v2IntegrationConnectionMultiResponsePagination'
    IntegrationConnectionProperty:
      type: object
      properties:
        propertyKey:
          type: string
        propertyValue:
          type: string
      required:
        - propertyKey
        - propertyValue
    v2OauthConnectionOutput:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        oAuthEndpointID:
          type: string
        createdAt:
          type: string
          format: ISO8601 UTC date-time
          example: '2019-04-13T03:35:34Z'
        updatedAt:
          type: string
          format: ISO8601 UTC date-time
          example: '2019-04-13T03:35:34Z'
      required:
        - id
        - name
        - oAuthEndpointID
        - createdAt
        - updatedAt
      description: >-
        Represents an OAuth credential for a given OAuth Endpoint that the user
        has permission to use
    v2OauthConnectionMultiResponse:
      type: object
      properties:
        v2/OauthConnections:
          description: Array of retrieved v2/OauthConnections
          type: array
          items:
            $ref: '#/components/schemas/v2OauthConnectionOutput'
        _pagination:
          $ref: '#/components/schemas/v2OauthConnectionMultiResponsePagination'
    v2OauthConnectionAttemptInput:
      type: object
      properties:
        redirectUrl:
          description: URL that the user will be taken to after completing the OAuth flow
          type: string
          format: url
          example: 'https://www.domain.com (url)'
        state:
          type: string
        oAuthEndpointID:
          description: oAuthEndpointID of the Integration you wish to authorize
          type: string
        oAuthConnectionID:
          description: >-
            When status is AUTHORIZED, this references the OAuth Connection that
            was created. Pass this ID during create if you wish to reauthorize
            an existing OAuth Connection
          type: string
      required:
        - oAuthEndpointID
      description: >-
        Stores information about the current OAuth flow, creates an
        OAuthConnection on successful flow completion
    v2OauthConnectionAttemptOutput:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 123e4567-e89b-12d3-a456-426655440000
        authorizationUrl:
          description: URL of login page to redirect customers to for authorization
          type: string
          format: url
          example: 'https://www.domain.com (url)'
        status:
          allOf:
            - $ref: '#/components/schemas/OAuthConnectionAttemptStatus'
          type: string
        statusDetail:
          description: >-
            Additional information about the status, mainly used when status is
            FAILED
          type: string
        redirectUrl:
          description: URL that the user will be taken to after completing the OAuth flow
          type: string
          format: url
          example: 'https://www.domain.com (url)'
        state:
          type: string
        oAuthEndpointID:
          description: oAuthEndpointID of the Integration you wish to authorize
          type: string
        oAuthConnectionID:
          description: >-
            When status is AUTHORIZED, this references the OAuth Connection that
            was created. Pass this ID during create if you wish to reauthorize
            an existing OAuth Connection
          type: string
      required:
        - id
        - authorizationUrl
        - status
        - oAuthEndpointID
      description: >-
        Stores information about the current OAuth flow, creates an
        OAuthConnection on successful flow completion
    OAuthConnectionAttemptStatus:
      type: string
      enum:
        - AUTHORIZED
        - FAILED
        - PENDING
        - PROCESSING
    v2SegmentOutput:
      type: object
      properties:
        id:
          type: string
        field:
          allOf:
            - $ref: '#/components/schemas/Field'
          type: object
        value:
          type: string
        type:
          allOf:
            - $ref: '#/components/schemas/SegmentType'
          type: string
      required:
        - id
        - field
        - value
        - type
      description: >-
        Represents a field-value pair that can be added to a Distribution
        Manager
    v2SegmentMultiResponse:
      type: object
      properties:
        v2/Segments:
          description: Array of retrieved v2/Segments
          type: array
          items:
            $ref: '#/components/schemas/v2SegmentOutput'
        _pagination:
          $ref: '#/components/schemas/v2SegmentMultiResponsePagination'
    Field:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        audienceId:
          type: string
      required:
        - id
        - name
        - audienceId
    taxonomyTaxonomySegmentSyncStatus:
      type: string
      description: >-
        NOT_CONFIGURED_TO_SYNC: the Taxonomy::Segment is in a taxonomy that is
        not configured to sync to a destination.


        NEVER_SYNCED: The Taxonomy::Segment has not been synced to the
        destination.


        OUT_OF_SYNC: The Taxonomy::Segment has been synced to the destination
        and the destinationSegmentID exists, but the properties have been
        updated and need to be resynced.


        SYNCED: The Taxonomy::Segment is in sync with the destination.
      enum:
        - NOT_CONFIGURED_TO_SYNC
        - NEVER_SYNCED
        - OUT_OF_SYNC
        - SYNCED
    v2SegmentStatusOutput:
      type: object
      properties:
        integrationConnectionID:
          type: string
        taxonomy:
          allOf:
            - $ref: '#/components/schemas/TaxonomyStatus'
          type: object
        segmentID:
          type: string
        segmentType:
          allOf:
            - $ref: '#/components/schemas/SegmentType'
          type: string
      required:
        - taxonomy
        - segmentID
        - segmentType
      description: Represents a segment's status
    v2SegmentStatusMultiResponse:
      type: object
      properties:
        v2/SegmentStatuses:
          description: Array of retrieved v2/SegmentStatuses
          type: array
          items:
            $ref: '#/components/schemas/v2SegmentStatusOutput'
        _pagination:
          $ref: '#/components/schemas/v2SegmentStatusMultiResponsePagination'
    TaxonomyStatus:
      type: object
      properties:
        taxonomySyncStatus:
          allOf:
            - $ref: '#/components/schemas/taxonomyTaxonomySegmentSyncStatus'
          type: string
        destinationSegmentID:
          type: string
      required: []
    StandardError:
      type: object
      properties:
        httpStatus:
          description: HTTP error status code for this problem
          type: integer
          format: int32
        errorCode:
          description: 'Service specific error code, more granular'
          type: string
        message:
          description: 'General, human readable error message'
          type: string
      required:
        - httpStatus
        - errorCode
        - message
    v2DeliveryMultiResponsePagination:
      type: object
      properties:
        after:
          type: string
          nullable: true
          description: >-
            This field is a cursor to be passed as a query parameter in
            subsequent, paginated queries.

            It allows the next request to begin from where the current request
            left off.

            When "after" is  null, there are no more records to fetch.
        total:
          type: integer
          nullable: false
          description: The total number of results.
    v2DestinationMultiResponsePagination:
      type: object
      properties:
        after:
          type: string
          nullable: true
          description: >-
            This field is a cursor to be passed as a query parameter in
            subsequent, paginated queries.

            It allows the next request to begin from where the current request
            left off.

            When "after" is  null, there are no more records to fetch.
        total:
          type: integer
          nullable: false
          description: The total number of results.
    v2DestinationIntegrationMultiResponsePagination:
      type: object
      properties:
        after:
          type: string
          nullable: true
          description: >-
            This field is a cursor to be passed as a query parameter in
            subsequent, paginated queries.

            It allows the next request to begin from where the current request
            left off.

            When "after" is  null, there are no more records to fetch.
        total:
          type: integer
          nullable: false
          description: The total number of results.
    v2DistributionManagerMultiResponsePagination:
      type: object
      properties:
        after:
          type: string
          nullable: true
          description: >-
            This field is a cursor to be passed as a query parameter in
            subsequent, paginated queries.

            It allows the next request to begin from where the current request
            left off.

            When "after" is  null, there are no more records to fetch.
        total:
          type: integer
          nullable: false
          description: The total number of results.
    v2DistributionManagerSegmentConfigMultiResponsePagination:
      type: object
      properties:
        after:
          type: string
          nullable: true
          description: >-
            This field is a cursor to be passed as a query parameter in
            subsequent, paginated queries.

            It allows the next request to begin from where the current request
            left off.

            When "after" is  null, there are no more records to fetch.
        total:
          type: integer
          nullable: false
          description: The total number of results.
    v2IntegrationConnectionMultiResponsePagination:
      type: object
      properties:
        after:
          type: string
          nullable: true
          description: >-
            This field is a cursor to be passed as a query parameter in
            subsequent, paginated queries.

            It allows the next request to begin from where the current request
            left off.

            When "after" is  null, there are no more records to fetch.
        total:
          type: integer
          nullable: false
          description: The total number of results.
    v2OauthConnectionMultiResponsePagination:
      type: object
      properties:
        after:
          type: string
          nullable: true
          description: >-
            This field is a cursor to be passed as a query parameter in
            subsequent, paginated queries.

            It allows the next request to begin from where the current request
            left off.

            When "after" is  null, there are no more records to fetch.
        total:
          type: integer
          nullable: false
          description: The total number of results.
    v2SegmentMultiResponsePagination:
      type: object
      properties:
        after:
          type: string
          nullable: true
          description: >-
            This field is a cursor to be passed as a query parameter in
            subsequent, paginated queries.

            It allows the next request to begin from where the current request
            left off.

            When "after" is  null, there are no more records to fetch.
        total:
          type: integer
          nullable: false
          description: The total number of results.
    v2SegmentStatusMultiResponsePagination:
      type: object
      properties:
        after:
          type: string
          nullable: true
          description: >-
            This field is a cursor to be passed as a query parameter in
            subsequent, paginated queries.

            It allows the next request to begin from where the current request
            left off.

            When "after" is  null, there are no more records to fetch.
        total:
          type: integer
          nullable: false
          description: The total number of results.
